body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
#banner{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("donation5.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;  
    padding: 100px 50px;
}
#banner, #donate h1{
    font-size: 40px;
}
.text-center{
    text-align: center;
}
.text-white{
    color: white;
}
.btn{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
.btn-danger{
    background-color: #dc3545;
}
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
#donate-amount h2{
    padding: 20px;
    margin: 5px;
    border: 3px solid gray;
    border-radius: 3px;
}
#donate-amount .active{
    border: 3px solid #dc3545;
    background-color: #dc354538;
    color:#dc3545 ;
}
.input{
    border: 0;
    border-bottom: 1px solid gray;
    margin: 40px 0;
    width: 700px;
    text-align: center;
}
.bg-dark{
    background-color: black;
}
#footer{
    padding: 100px 0;
    margin-top: 50px;
}